<div class="form-container">
  <!-- Login Form -->
   @if(isLogin) {
     <div class="form-content">
       <h2 class="text-center">Login</h2>
       <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
         <div class="mb-3">
           <app-input [control]="email" label="Correo" type="email"></app-input>
         </div>
         <div class="mb-3">
          <app-input [control]="password" label="Contraseña" type="password"></app-input>
         </div>
         <button [disabled]="loginForm.invalid" type="submit" class="btn login-btn">Login</button>
       </form>
       <div class="text-center mt-3">
        <span class="link-text" (click)="toggleForm()">¿No tienes una cuenta? <span class="highlight">Regístrate</span></span>
      </div>
     </div>
   }

  <!-- Sign Up Form -->
   @if(!isLogin) {
     <app-register (toggle)="toggleForm()"></app-register>
   }
</div>
