<div class="container mt-5 text-center">
    <h3 class="text-center">CENTRO EDUCATIVO ANDALUCÍA</h3>
    <h4 class="text-center mb-4">PLANEACIONES DE CLASE</h4>

    <!-- Skeleton Loading -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th
                    colspan="2"
                    class="text-center"
                >
                    Codigo:
                    <span class="placeholder col-6"></span>
                </th>
                <th
                    colspan="4"
                    class="text-center"
                >
                    PLANILLA:
                    <span class="placeholder col-6"></span>
                </th>
            </tr>
            <tr>
                <th class="text-center">FECHA</th>
                <th class="text-center">UNIDAD</th>
                <th class="text-center">GRADO</th>
                <th class="text-center">AREA</th>
                <th class="text-center">EJE TEMATIVO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <span class="placeholder col-6"></span>
                </td>
                <td class="text-center">
                    <span class="placeholder col-6"></span>
                </td>
                <td class="text-center">
                    <span class="placeholder col-6"></span>
                </td>
                <td class="text-center">
                    <span class="placeholder col-6"></span>
                </td>
                <td class="text-center">
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr>
                <th class="text-center">TIEMPO PROBABLE</th>
                <th class="text-center">TIEMPO REAL</th>
                <td
                    class="text-center"
                    colspan="2"
                >
                    <span class="placeholder col-6"></span>
                </td>
                <td
                    class="text-center"
                    colspan="2"
                >
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr>
                <td
                    colspan="2"
                    class="text-center"
                >
                    LOGRO:
                </td>
                <td
                    colspan="3"
                    class="text-center"
                >
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr>
                <td
                    colspan="10"
                    class="text-center"
                >
                    COMPETENCIAS
                </td>
            </tr>
            <tr>
                <td class="text-center">Argumentativa:</td>
                <td
                    colspan="7"
                    class="text-center"
                >
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">Interpretativa:</td>
                <td
                    colspan="7"
                    class="text-center"
                >
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">Propositiva:</td>
                <td
                    colspan="7"
                    class="text-center"
                >
                    <span class="placeholder col-6"></span>
                </td>
            </tr>
            <tr>
                <th
                    colspan="5"
                    class="text-center"
                >
                    AJUSTES COMPLEMENTARIOS POR NECESIDADES PARTICULARES
                </th>
            </tr>
            <tr>
                <th
                    colspan="5"
                    class="text-center"
                >
                    PROCESO PEDAGÓGICO
                </th>
            </tr>
            <tr>
              <th class="text-center">MOTIVACIÓN</th>
              <td colspan="4">
                <span class="placeholder col-6"></span>
              </td>
          </tr>
          <tr>
              <th class="text-center">EXPLORACIÓN SABERES PREVIOS</th>
              <td colspan="4">
                <span class="placeholder col-6"></span>
              </td>
          </tr>
          <tr>
              <th class="text-center">CONFRONTACIÓN</th>
              <td colspan="4">
                <span class="placeholder col-6"></span>
              </td>
          </tr>
          <tr>
              <th class="text-center">ACTIVIDAD</th>
              <td colspan="4">
                <span class="placeholder col-6"></span>
              </td>
          </tr>
          <tr>
              <th class="text-center">EVALUACIÓN</th>
              <td colspan="4">
                <span class="placeholder col-6"></span>
              </td>
          </tr>
          <tr>
            <th
                colspan="5"
                class="text-center"
            >
                RECURSOS
            </th>
        </tr>
        <tr>
          <td colspan="5">
            <span class="placeholder col-6"></span>
          </td>
        </tr>
        <tr>
            <th
                colspan="5"
                class="text-center"
            >
                OBSERVACIONES
            </th>
        </tr>
        <tr>
          <td colspan="5">
            <span class="placeholder col-6"></span>
          </td>
        </tr>
        </tbody>
    </table>
</div>
